# Emacs ignores from github.com/github/gitignore.
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# .emacs.d specific ignores.
.smex-items
projectile-bookmarks.eld
ido.last
/auto-save-list
/backups
/elpa
/org/*.el
/places
