# Emacs ignores from github.com/github/gitignore.
*.elc
*~
.\#*
/.emacs.desktop
/.emacs.desktop.lock
\#*\#
auto-save-list
tramp

# .emacs.d specific ignores.
.smex-items
.mc-lists.el
helm-adaptive-history
ido.last
projectile-bookmarks.eld
/auto-save-list
/backups
/elpa
/org/*.el
/places
/transient
